/* CSS Document */

.galerie img {
  width: 100%;
  margin-bottom: 30px;
}

.banner {
  background-image: url('header.png');
  background-color: #1ac2f3;
  width: 100%;
  height: 116px;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  background: #303030;
}

.nav-link {
color: white;
font-size: 25px;
}

.active {
color: #fab905;
}

.obsah {
padding: 20px;
background: #303030;
color: white;
min-height: calc(100vh - 166px);
}

.obsah img {
width: 100%;
}

.video-center {
	width: 65%;
	margin: 0px auto;
}

footer {
  width: 100%;
  height: 50px;
  background: #1ac2f3;
  color: white;
  text-align: center;
  margin: 0px !important;
} 

footer div {
  padding: 10px 0px;
} 

body {
  padding: 0px !important;
}

h1 {
  font-size: 25px !important;
  padding-left: 15px;
} 

p {

}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

   #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 9999;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top span {
    color: #fff;
    margin: 0;
    position: relative;
    left: 18px;
    top: 10px;
    font-size: 22px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
}

#quiz {
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #fff;
  color: #444;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

#quiz:hover {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.quiz-started {
  padding: 10px;
}

#quiz-bg {
  background: #1ac2f3;
  padding: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

#quiz-bg iframe {
  width: 100%;
  height: 25vw;
}

#quiz-body {
  padding: 15px;
}

#quiz-body h1 {
  text-align: center;
  font-size: 22px;
  color: #444;
  font-weight: 700;
  margin: 0;
}

#quiz-body p {
  text-align: center;
  color: #444;
  margin: 0;
}

#progress-container {
  background-color: #eee;
  height: 6px;
  border-radius: 50px;
  text-align: left;
  position: relative;
  margin-bottom: 12px;
}

#progress {
  width: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0288d1),
    to(#1ac2f3)
  );
  background:#1ac2f3;
  border-radius: 50px;
  display: inline-block;
  height: inherit;
  position: absolute;
  -webkit-transition: 0.75s width;
  -o-transition: 0.75s width;
  transition: 0.75s width;
}

#stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#stats p {
  margin: 0;
  font-size: 14px;
}

#stats span {
  color: #666;
  font-weight: 700;
}

#answers h2 {
  margin: 50px 0;
  color: #444;
  font-size: 24px;
}

.answer {
  padding: 5px;
}

.answer-number {
  display: inline-block;
  margin-right: 10px;
  border-top-left-radius: 5px;
  font-weight: 700;
  border-bottom-left-radius: 5px;
}

label {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #666;
  font-size: 14px;
  -webkit-transition: 0.2s background-color;
  -o-transition: 0.2s background-color;
  transition: 0.2s background-color;
}

input[type="radio"]:hover:not(:disabled) + label {
  background-color: rgba(0, 0, 0, 0.13);
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

#notification {
  margin: 10px auto;
  max-width: 100%;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
}

#notification p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #666;
}

#results {
  padding: 20px;
}

#results h2 {
  font-size: 20px;
}

#results h3 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#percentage {
  font-size: 45px;
  font-weight: 700;
  display: block;
  margin-top: 15px;
  margin-bottom: 35px;
}

.shortcuts-info {
  position: absolute;
  display: none;
  right: 0;
  bottom: 35px;
  max-width: 40%;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.shortcuts-info p {
  margin: 10px 0;
}
.tag {
  display: inline-block;
  padding: 3px;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 5px;
  border-bottom: 1px solid #0288d1;
  font-size: 14px;
}

button {
  display: block;
  border: 0;
  color: #fff;
  font-size: 14px;
  border-radius: 50px;
}

.blue-btn {
  background-color: #1ac2f3;
}

.blue-btn:hover {
  background-color: #1565c0;
}

.blue-btn:active,
.blue-btn:focus {
  background-color: #1ac2f3;
}

/* Utility classes */
.text-center {
  text-align: center;
}
.bold {
  font-weight: 700;
}
.rounded-corners {
  border-radius: 50px;
}
.display-block {
  display: block;
}

.red-bg {
  background-color: #f44336;
  color: #fff;
}
.green-bg {
  background-color: #8bc34a;
  color: #fff;
}

#start-quiz-btn {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

#next-btn,
#show-results-btn {
  margin: 0 auto;
  padding: 10px 25px;
}

#shortcuts-info-btn {
  display: none;
}

#start-over-btn {
  margin: 0 auto;
  padding: 10px 25px;
  margin-top: 25px;
}

  #shortcuts-info-btn {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    margin: 15px;
    padding: 5px 10px;
    font-size: 12px;
    border: 0;
    border-radius: 50px;
    color: #fff;
    background-color: #aaa;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 1;
  }
  #shortcuts-info-btn:hover {
    background-color: #888;
  }

  #shortcuts-info-btn:active {
    background-color: #555;
  }
}
